@media (max-width: 1201px) {
    .tabs-panel .nav {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .menu {
        -webkit-column-gap: 13px;
        -moz-column-gap: 13px;
        column-gap: 13px;
    }

    .menu-item {
        padding: 15px 0px;
    }

    .logo img {
        width: 190px;
    }

    .menu-item a {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -0.6px;
    }

    .menu-item:first-child::after {
        margin-left: 0;
    }

    .header-contacts {
        -webkit-column-gap: 7px;
        -moz-column-gap: 7px;
        column-gap: 7px;
        padding-left: 3px;
    }

    .header-contacts a img {
        height: 30px;
        width: 30px;
    }

    .phone {
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: -1px;
    }

    .phone::before {
        font-size: 11px;
    }

    .title,
    .title-mark {
        font-size: 44px;
        font-weight: 600;
        line-height: 59px;
    }

    .subtitle {
        font-size: 17px;
        line-height: 22px;
    }

    .button-cost {
        padding: 8px 8px 8px 20px;
        font-size: 17px;
        font-weight: 500;
        line-height: 18px;
    }

    .number {
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
    }

    .card_name {
        font-size: 17px;
        font-weight: 400;
        line-height: 24px;
    }

    .pluses-wrapper {
        -ms-grid-rows: 350px 350px;
        grid-template-rows: 350px 350px;
    }

    .nav-link {
        font-size: 17px;
        font-weight: 500;
        line-height: 23px;
        padding-top: 10px;
        padding-bottom: 15px;
        width: 196px;
    }

    .tabs-panel {
        margin-bottom: 30px;
    }

    .usage-title {
        font-size: 22px;
        font-weight: 500;
        line-height: 30px;
        padding-bottom: 22px;
    }

    .usage-list li {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        padding-bottom: 15px;
    }

    .slider_item-wrapper {
        width: 100%;
        height: 550px;
    }

    .main_solution_usage {
        margin-top: 0px;
    }

    .usage-title__result {
        font-size: 22px;
        font-weight: 500;
        line-height: 30px;
        padding-bottom: 0px;
    }

    .usage-result {
        margin-top: 0px !important;
        row-gap: 25px;
    }

    .usage-result_card_text {
        font-size: 16px;
        line-height: 22px;
    }

    .number__result {
        font-size: 17px;
        line-height: 17px;
    }

    .usage-result_card_text {
        font-size: 15px;
        line-height: 18px;
    }

    .solution_button-cost-area .button-cost {
        white-space: nowrap;
        padding: 8px 3px 8px 15px;
    }

    .cost-area-desc {
        font-size: 15px;
        line-height: 18px;
    }
}

@media (max-width: 992px) {
    .header_items-wrapper {
        padding: 15px 10px;
    }

    .header-contacts a img {
        height: 28px;
        width: 28px;
    }

    .header-contacts a img:hover {
        height: 30px;
        width: 30px;
    }

    .logo a img {
        width: 160px;
    }

    .header-contacts {
        margin-left: 10px;
        -webkit-column-gap: 7px;
        -moz-column-gap: 7px;
        column-gap: 7px;
    }

    .header-contacts a:last-child {
        margin-left: 0px;
    }

    .menu-item a {
        font-size: 13px;
        line-height: 17px;
    }

    .menu {
        padding-left: 3px;
        -webkit-column-gap: 7px;
        -moz-column-gap: 7px;
        column-gap: 7px;
    }

    .phone {
        font-size: 12px;
        letter-spacing: -0.75px;
    }

    .phone::before {
        font-size: 12px;
    }

    .phone:hover {
        text-shadow: 0px 6px 19px rgba(0, 34, 56, 0.6);
    }

    .cards-wrapper {
        row-gap: 25px;
        margin-top: 100px;
    }

    .main_pluses {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .main_head {
        padding-bottom: 75px;
    }

    .integration-wrapper {
        margin-top: 150px;
    }

    .title,
    .title-mark {
        font-size: 40px;
        font-weight: 600;
        line-height: 59px;
    }

    .subtitle {
        font-size: 16px;
        line-height: 20px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .button-cost {
        padding: 8px 8px 8px 20px;
        font-size: 16px;
        font-weight: 400;
        line-height: 17px;
    }

    .pluses_card_title {
        font-size: 16px;
        font-weight: 500;
        margin-top: -45px;
        margin-left: 17px;
    }

    .main_solution {
        padding-top: 45px;
        padding-bottom: 75px;
    }

    .solution_slider {
        margin-top: 50px;
    }

    .solution_button-cost-area {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .cards-wrapper {
        margin-top: 75px;
    }

    .header_menu {
        display: none;
    }

    .burger-button img {
        width: 45px;
        height: 45px;
        display: block;
    }

    .integration-wrapper {
        margin-top: 120px;
    }

    .nav-item button {
        width: 160px;
        font-size: 15px;
        padding: 5px 10px;
    }

    .tabs-panel .nav {
        -webkit-column-gap: 10px;
        -moz-column-gap: 10px;
        column-gap: 10px;
    }

    .title,
    .title-mark {
        font-size: 32px;
        line-height: 40px;
    }

    .subtitle {
        margin: 30px 0;
    }

    .subtitle:last-child {
        margin: 30px 0 45px 0;
    }

    .pluses-wrapper {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: 250px 250px;
        grid-template-rows: 250px 250px;
        grid-template-areas:
            "a b"
            "c d"
    }

    .slider_item-wrapper {
        width: 100%;
        height: 490px;
    }

    .pluses_card_title {
        margin: 0;
    }

    .pluses_card:first-child .pluses_card_title {
        bottom: 5%;
        left: 5%;
    }

    .pluses_card:nth-child(2) .pluses_card_title {
        bottom: 5%;
        left: 5%;
    }

    .pluses_card:nth-child(3) .pluses_card_title {
        bottom: 5%;
        left: 5%;
    }

    .pluses_card:nth-child(4) .pluses_card_title {
        bottom: 5%;
        left: 5%;
    }

    .main {
        padding: 120px 0 75px 0;
    }

    .pluses,
    .solution {
        padding: 75px 0;
    }

    .solution_usage {
        margin-top: 0px;
    }
}

@media (max-width: 576px) {

    .title,
    .title-mark {
        font-size: 36px;
    }

    .pluses-wrapper {
        -ms-grid-rows: 220px 220px;
        grid-template-rows: 220px 220px;
    }

    .pluses-wrapper {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: 250px 250px;
        grid-template-rows: 250px 250px;
        grid-template-areas: "a b" "c d";
    }

    .tabs-panel .nav {
        -webkit-column-gap: 10px;
        -moz-column-gap: 10px;
        column-gap: 10px;
    }

    .nav-link {
        width: auto;
    }
}

@media (max-width: 420px) {
    .main {
        padding: 110px 0 55px 0;
    }

    .pluses,
    .solution {
        padding: 55px 0;
    }

    .title,
    .title-mark {
        font-size: 32px;
    }

    .phone {
        display: none;
    }

    .cards-wrapper {
        margin-top: 50px;
    }

    .main_card {
        min-height: 175px;
    }

    .pluses-wrapper {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: 220px 220px 220px 220px;
        grid-template-rows: 220px 220px 220px 220px;
        grid-template-areas: "a" "b" "c" "d";
    }

    .tabs-panel .nav {
        -webkit-column-gap: auto;
        -moz-column-gap: auto;
        column-gap: auto;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .nav-link {
        width: auto;
    }

    .solution_button-cost-area .button-cost {
        height: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .solution_button-cost-area {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        row-gap: 10px;
        margin-top: 20px;
    }

    .cost-area-desc {
        text-align: center;
        margin-left: 0px;
    }

    .burger-button img {
        margin-left: 0px;
        margin-right: 5px;
    }
}